.articulosCart {
  height: 551px;
  justify-content: center;
  margin: 20px;
  text-align: center;
  width: 285px;
}

.bodyAnterioresCart {
  background-color: rgba(214, 183, 27, 0.9);
  border-radius: 25px;
  flex-wrap: wrap;
}

.bodyCart {
  display: flex;
  flex-direction: row;
}

.botonCart {
  align-items: flex-end;
  background-color: rgb(32, 32, 32);
  border: none;
  height: 60px;
  justify-content: center;
  text-align: center;
  width: auto;
}

.botonCart:hover {
  background-color: grey;
  color: black;
}
.buttonShop{
  background-color: rgb(185, 142, 34);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: auto;
  height: 6vh;
  margin: 4px;
  opacity: 0.9;
  width: 12vw;
}
.buttonBuy {
  background-color: rgb(185, 142, 34);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: auto;
  height: 6vh;
  margin: 4px;
  opacity: 0.9;
  width: 12vw;
}

.buttonBuy:hover {
  opacity: 1;
  scale: 1.1;
}

.buttonBuy:disabled {
  opacity: 0.2;
}


.buttonClose {
  align-items: center;
  background-color: rgb(146, 41, 35);
  border: none;
  border-radius: 100%;
  display: flex;
  font-weight: 700;
  height: 20px;
  justify-content: center;
  margin-left: 68%;
  opacity: 0.3;
  padding: 15px;
  position: absolute;
  text-align: center;
  width: 20px;
}

.buttonClose:hover {
  border: 1px solid rgb(93, 36, 36);
  opacity: 1;
  scale: 1.1;
  transition: 0.2s;
}

.cardBodyCart {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardCart {
  box-shadow: 5px 5px 10px grey;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: row;
}

.containerCard {
  background-color: aqua;
  background-color: #0f0f0e;
  border-radius: 30px;
  margin: 20px;
  max-height: auto;
  min-height: 400px;
  padding: 20px;
  width: 80vw;
}

.containerCart {
  display: flex;
  flex-direction: row;
}

.dispocisionCart {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.dispocisionCart:hover {
  background-color: white;
  border: solid black 1px;
  color: black;
}

.imagenCart {
  height: 100px;
  width: 130px;
}

.listelement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;

}

.listelement li{
  /* .title {
    color: #d09527;
    margin: 10px;
    padding: 10px;
    width: 18vw;
    height: 80%;
    overflow: hidden;
  }
   */
 
    color: rgb(198, 201, 202);
    white-space: nowrap;
    /* Evitar saltos de línea */
    overflow: hidden;
    /* Ocultar texto que exceda el tamaño del div */
    text-overflow: ellipsis;

}

.listelement h5 {
  color: rgb(185, 142, 34);
  margin-top: 29px;
  font-size: 18px;
}

.listelement p {
  color: rgb(97, 103, 105);
}

.messageEmpty {
  background-color: rgb(54, 55, 56);
  border-radius: 10px;
  display: flex;
  height: 90px;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}


.panelCart {
  background-color: #0f0f0e;
  border-radius: 30px;
  font-size: 15px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 25vw;
}

.panelCart h2 {
  margin-bottom: 40px;
}

.producCart {
  display: flex;
  flex-direction: row;
  height: 50px;
  text-align: right;
  width: 100px;
}

.test {
  border: solid red;
  color: red;
}

.titleAnterioresCart {
  text-align: left;
}
