.card {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 10px grey;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: row;
}

.articulos {
  justify-content: center;
  text-align: center;
  margin: 20px;
  height: 551px;
  width: 285px;
}

.boton {
  justify-content: center;
  text-align: center;
  width: auto;
  height: 60px;
  align-items: flex-end;
  background-color: rgb(32, 32, 32);
  border: none;
}

.boton:hover{
    background-color: grey;
    color: black;
;
}

.produc {
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 100px;
  height: 50px;
}

.imagen {
  height: 100px;
  width: 130px;
}

.cardBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bodyAnteriores {
  background-color: rgba(214, 183, 27, 0.9);
  border-radius: 25px;
  flex-wrap: wrap;
}

.titleAnteriores {
  text-align: left;
}

.test {
  border: solid red;
  color: red;
}

.dispocision {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.dispocision:hover {
  background-color: white;
  color: black;
  border: solid black 1px;
}

.bodyCart {
    display: flex;
    flex-direction: row;
}

