.custom-toast {
    background-color: #4b0909;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
  }
  .message{
    width: 890px;
    text-align: center;
    margin-top: 50px;
    border: 0.2px solid;
    border-radius: 16px;
    border: 0.1px solid #d09527;
    padding: 20px;
  }
  .message h1{
    font-size: 60px;
    font-weight: 300;
  }
  .message h5{
    font-size: 30px;

  }
