.card {
    background: rgb(63, 63, 63);
    color: #fff;
    padding: 2% 3%;
    border-Radius: 2vh;
    text-Align: center;
    width: 95%;
    margin-top: 2vh;
    height: 45vh;
    border: 0.02vh solid rgba(163, 125, 52, 1);
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}