.card {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 5px;
    color: #d09527;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 220px;
    box-shadow: 0 4px 8px rgba(255, 253, 253, 0.3)
}

.link {
    text-decoration: none;
}

.image {
    border-radius: 6px;
    width: 240px;
    height: 180px;
    background-color: rgb(21, 20, 20);
    text-align: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}

.imgSize {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgSize:hover {
    opacity: 0.1;

}

.image p {
    opacity: 0;
    color: aliceblue;
    margin-left: 9%;
    margin-top: 8%;
    position: absolute;
    font-weight: bold;
}

.image:hover p {
    opacity: 1;
}



.card:hover {
    transition: 0.3s;
    scale: 1.02;
}

.colPrice {
    text-align: center;
    justify-content: center;
 
}

.colPrice h5 {
    color: rgb(18, 20, 20);
    margin-right: 20px;
    font-size: 17px;
    font-weight: 900;
    color: #7c5e26;

}

.custom_button {
    width: 30px;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 3px;
    border-radius: 100%;
    border: none;
    margin-top: 20px;
    background-color: #d09527;
}

.custom_button:hover {
    scale: 1.15;
    transition: 0.3s;
    opacity: 1;
}

.custom_button:disabled {
    opacity: 0.2;
}

.title {
    font-size: 25px;
    background-color: rgb(82, 82, 82);
    border-radius: 60px;
    color: #d09527;
}

.inputContainer {
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.alertStock {
    color: #d09527;
    margin-top: -30px;
}

.IBU {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.textContainer{
    color: #bcb5b5;
    height: 7vh; /* Altura máxima del div */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;  /* Mostrar puntos suspensivos (...) al final del texto cortado */
}
.textContainer p {
    text-overflow: ellipsis;
}

.navButton {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.navButton p {
    color: #49b00e;
    font-weight: 700;
}

.buttonBuy {

    color: #cdc7c7;
    margin: 4px;
    font-size: auto;
    width: 8vw;
    opacity: 0.8;
    height: 4vh;
    border: none;
    border-radius: 4px;
    background-color: rgb(87, 83, 83);
}

.buttonBuy:hover {
    scale: 1.1;
    opacity: 1;
}

.buttonBuy:disabled {
    opacity: 0.2;
}

.alertOutStock {
    color: #e50505;
    margin-top: -30px;
    font-weight: 800;

}

.input {
    width: 100px;
    height: 25px;
    color: black;
    border-radius: 4px;
    margin-left: 90px;
    background-color: rgb(214, 210, 210);
}