@media (min-width: 1209px) and (max-width: 1600px) {}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */




/* Pantallas pequeñas (dispositivos móviles pequeños) */
@media (max-width: 480px) {
    /* Estilos para pantallas pequeñas */
}

/* Dispositivos móviles */
@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos para dispositivos móviles */
}

/* Tablets y pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets y pantallas medianas */
}


/* Pantallas medianas (1024px - 1365px)  -----------------------------------------------*/
@media (min-width: 768px) and (max-width: 1365px) {
    .card {
        background-color: rgb(13, 12, 12);
        border-radius: 8px;
        padding: 5px;
        color: #d09527;
        border: none;
        display: flex;
        flex-direction: column;
        /* Cambio a columna */
        margin: 10px;
        box-shadow: 0 4px 8px rgba(79, 72, 72, 0.3);
    }

    .centeredContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        /* Agregar otros estilos necesarios */
    }

    .link {
        text-decoration: none;
    }

    .image {
        border-radius: 6px;
        width: 90%;
        /* Ajuste al 100% del ancho */
        height: 32vh;
        /* Ajuste automático de altura */
        background-color: rgb(21, 20, 20);
        text-align: center;
        align-items: center;
        object-fit: cover;
        overflow: hidden;
    }

    .imgSize {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgSize:hover {
        opacity: 0.1;
    }

    .image p {
        opacity: 0;
        color: aliceblue;
        margin-left: 9%;
        margin-top: 8%;
        position: absolute;
        font-weight: bold;
    }

    .image:hover p {
        opacity: 1;
    }

    .colPrice {
        text-align: center;
        justify-content: center;
    }

    .colPrice h5 {
        color: rgb(18, 20, 20);
        margin-right: 20px;
        font-size: 12px;
        font-weight: 900;
        color: #7c5e26;
    }

    .custom_button {
        width: 30px;
        opacity: 0.9;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin: 3px;
        border-radius: 100%;
        border: none;
        margin-top: 20px;
        background-color: #d09527;
    }

    .custom_button:hover {
        scale: 1.15;
        transition: 0.3s;
        opacity: 1;
    }

    .custom_button:disabled {
        opacity: 0.2;
    }

    .title {
        font-size: 100%;
        background-color: rgb(82, 82, 82);
        border-radius: 10px;
        color: #d09527;
    }

    .title br {
        height: 100px;
    }

    .inputContainer {
        margin-top: 100px;
        justify-content: center;
        text-align: center;

    }

    .alertStock {
        color: #d09527;
        margin-top: 0px;
        font-size: 80%;

    }


    .IBU {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: auto;
    }

    .textContainer {
        color: #bcb5b5;
        height: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        font-size: 70%;
    }

    .textContainer p {
        text-overflow: ellipsis;
    }

    .navButton {
        justify-content: center;
        text-align: center;
        display: flex;
        font-size: 60%;
        flex-direction: column;
        margin-top: 20px;
        width: 80%;
    }

    .navButton p {
        color: #dfe4db;
        font-weight: 700;
        font-size: auto;
        background-color: #398310;
        border-radius: 4px;
        margin-top: 10px;
        margin-left: 22%;
    }

    .buttonBuy {
        color: #cdc7c7;
        margin: 0px;
        font-size: 120%;
        width: 10vw;
        margin-left: 22%;
        opacity: 0.8;
        height: 4vh;
        border: none;
        border-radius: 4px;
        background-color: rgb(87, 83, 83);
    }

    .buttonBuy:hover {
        scale: 1.1;
        opacity: 1;
    }

    .buttonBuy:disabled {
        opacity: 0.2;
    }

    .alertOutStock {
        color: #e50505;
        font-weight: 800;
        animation: fadeInOut 1s 1;
    }

    @keyframes fadeInOut {

        0%,
        100% {
            scale: 1;
        }

        50% {
            scale: 1.2;
        }

        100% {
            scale: 1;
        }
    }

    .input {
        width: 100px;
        height: 25px;
        color: black;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 4px;
        background-color: rgb(214, 210, 210);
    }
}


/* Pantallas grandes (escritorios y laptops grandes) ------------------------------------------------*/
@media (min-width: 1366px) and (max-width: 2219px) {
    /* Estilos para pantallas grandes */

    /* Agrega tus reglas CSS aquí */
    .card {
        background-color: rgb(0, 0, 0);
        border-radius: 8px;
        border: 0.1px solid #d09527;
        padding: 5px;
        color: #d09527;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        height: 240px;
        box-shadow: 0 0 8px 4px rgba(208, 149, 39, 0.1);
    }

    .centeredContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        /* Agregar otros estilos necesarios */
    }

    .link {
        text-decoration: none;
    }

    .image {
        border-radius: 6px;
        width: 240px;
        height: 200px;
        background-color: rgb(21, 20, 20);
        text-align: center;
        align-items: center;
        object-fit: cover;
        overflow: hidden;
    }

    .imgSize {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgSize:hover {
        opacity: 0.1;

    }

    .image p {
        opacity: 0;
        color: aliceblue;
        margin-left: 9%;
        margin-top: 8%;
        position: absolute;
        font-weight: bold;
    }

    .image:hover p {
        opacity: 1;
    }



    .card:hover {
        transition: 0.3s;
        scale: 1.02;
    }

    .colPrice {

        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;

    }

    .colPrice h5 {
        color: rgb(18, 20, 20);
        margin-right: 20px;
        font-size: 17px;
        font-weight: 900;
        color: #7c5e26;


    }

    .custom_button {
        width: 30px;
        opacity: 0.9;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin: 3px;
        border-radius: 100%;
        border: none;
        margin-top: 20px;
        background-color: #d09527;
    }

    .custom_button:hover {
        scale: 1.15;
        transition: 0.3s;
        opacity: 1;
    }

    .custom_button:disabled {
        opacity: 0.2;
    }

    .title {
        font-size: 25px;
        background-color: rgb(82, 82, 82);
        border-radius: 60px;
        color: #d09527;

    }

    .inputContainer {
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }

    .alertStock {
        color: #d09527;
        margin-bottom: 25px;
    }

    .IBU {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .textContainer {
        color: #bcb5b5;
        height: 7vh;
        /* Altura máxima del div */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        /* Mostrar puntos suspensivos (...) al final del texto cortado */
    }

    .textContainer p {
        text-overflow: ellipsis;
    }

    .navButton {
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

    }

    .navButtonAdd {
        color: #dfe4db;
        font-weight: 700;
        font-size: 14px;
        /* Ajusta el tamaño de fuente según sea necesario */

        background-color: #398310;
        border-radius: 4px;
        margin-top: 10px;
    }

    .navButtonNull {
        opacity: 0;
        color: #dfe4db;
        font-weight: 700;
        font-size: 14px;
        /* Ajusta el tamaño de fuente según sea necesario */

        background-color: #398310;
        border-radius: 4px;
        margin-top: 10px;
    }


    .buttonBuy {

        color: #cdc7c7;
        margin: 4px;
        font-size: auto;
        width: 8vw;
        opacity: 0.8;
        height: 4vh;
        border: none;
        border-radius: 4px;
        background-color: rgb(87, 83, 83);
    }

    .buttonBuy:hover {
        scale: 1.1;
        opacity: 1;
    }

    .buttonBuy:disabled {
        opacity: 0.2;
    }



    .alertOutStock {
        color: #e50505;
        margin-top: 19px;
        font-weight: 800;
        animation: fadeInOut .3s 1;
    }

    @keyframes fadeInOut {

        0%,
        100% {
            scale: 1;
        }

        50% {
            scale: 1.1;
        }

        100% {
            scale: 1;
        }
    }

    .input {
        width: 100px;
        height: 25px;
        color: black;
        border-radius: 4px;
        background-color: rgb(214, 210, 210);
    }

}