.Columna{
    justify-content: start;
}
.box{
    border: 2px solid  rgba(163, 125, 52, 1);
    font-size: 20px;
    padding: 1%;
}
.Title{
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.image{
    border: 3px solid rgb(245, 221, 117);
    max-width: 30%;
    height: auto;
   
}
.buttonEdit{
    border: rgba(163, 125, 52, 1);
    background-color:rgba(163, 125, 52, 1);
  height: 140%;
    width: 100%;
}
.mensajes{
    color: rgb(202, 10, 10);
    font-size: px;
  }
  .buttonback{
    border: rgba(163, 125, 52, 1);
    background-color:rgba(163, 125, 52, 1);
  height: 10%;
    width: 100%;
  }
  .buttonContainer {
    display: flex;
    gap: 10px; 
  }
  .containLoading{
    justify-content: center;
    display:flex;
    align-items: center;
  }
  .beerLoading{
   
    width: 50%;
    height: 50%;
  }
  .notFound {
    font-size: 50px;
    color: brown;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  