.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.avatarCont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 20vh;
    border: 0.02vh solid rgba(163, 125, 52, 1);
    position: relative;
    z-index: 2;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
    margin-bottom: -10vh;
}
.avatarContSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 20vh;
    border: 0.03vh solid rgb(96, 163, 52);
    box-shadow: 0 0 1vw rgb(96, 163, 52);
    position: relative;
    z-index: 2;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
    margin-bottom: -10vh;
}
.avatarContError {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 20vh;
    border: 0.03vh solid red;
    box-shadow: 0 0 1vw red;
    position: relative;
    z-index: 2;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
    margin-bottom: -10vh;
}
.avatar {
    height: 15vh;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    background-color: rgb(63, 63, 63);
}
.form {
    height: 80vh;
    width: 30%;
    border: 0.03vh solid rgba(163, 125, 52, 1);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(63, 63, 63);
    position: relative;
    z-index: 1;
}
.formSubmit {
    height: 80vh;
    width: 30%;
    border: 0.03vh solid rgb(96, 163, 52);
    box-shadow: 0 0 1vw rgb(96, 163, 52);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(63, 63, 63);
    position: relative;
    z-index: 1;
}
.formError {
    height: 80vh;
    width: 30%;
    border: 0.03vh solid red;
    box-shadow: 0 0 1vw red;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(63, 63, 63);
    position: relative;
    z-index: 1;
}
.input1{
    margin-top: 10vh;
}
.input, .input1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.input div, .input1 div {
    height: 7vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 89, 33);
    border: 0.03vh solid rgb(0, 0, 0);
}
.input div img, .input1 div img{
    height: 5vh;
}

.input input, .input1 input {
    height: 7vh;
    background-color: rgba(163, 125, 52, 1);
    border: 0.03vh solid rgb(0, 0, 0);
    border-radius: 1px;
    color: white;
}
.input input::placeholder, .input1 input::placeholder {
    color: white;
}
.input input:focus, .input1 input:focus {
    height: 7vh;
    background-color: rgba(163, 125, 52, 1);
    border: 0.03vh solid rgb(0, 0, 0);
    border-radius: 1px;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    outline: none;
    color: white
}
.label {
    width: 80%;
    font-size: 1vw;
    color: gray;
}
.checks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.submit {
    height: 6vh;
    border-radius: 1vh;
    background-color: rgba(163, 125, 52, 1);
    width: 50%;
    border: 0.02vh solid black;
}
.submit:disabled {
    height: 6vh;
    border-radius: 1vh;
    background-color: rgb(87, 87, 87);
    border: rgb(87, 87, 87);
}
.submit:disabled:hover {
    height: 6vh;
    border-radius: 1vh;
    background-color: rgb(87, 87, 87);
    border: rgb(87, 87, 87);
}
.submit:hover {
    height: 6vh;
    border-radius: 1vh;
    background-color: rgba(163, 125, 52, 1);
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    border: 0.02vh solid black;
}
.submit:active {
    height: 6vh;
    border-radius: 1vh;    
    background-color: rgb(96, 163, 52);
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    border: 0.02vh solid black;
}
.checks div input:not(:checked)  {
    background-color: rgba(163, 125, 52, 1);
    border: 0.02vh solid black;
}
.checks div input:checked {
    background-color: rgb(96, 163, 52);
    border: 0.02vh solid black;
}
.checks div input:focus  {
    box-shadow: 0 0 1vw black;
}
.checks div label {
    color: gray;
}
.signUp {
    margin-top: -4vh;
    border: 0.02vh solid black;
    border-radius: 1px;
    background-color: rgb(63, 63, 63);
}
.signUp:hover{
    background-color: rgb(63, 63, 63);
    border-radius: 1px;
    border: 0.02vh solid black;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}
.forgot {
    color: rgb(22, 22, 22);
}
.forgot:hover {
    color: black
}
.validationMessage {
    color: red;
    margin-top: -5.2vh;
    margin-bottom: -5.6vh;
}
.inputError1 {
    margin-top: 10vh;
}
.inputError1, .inputError {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.inputError1 div, .inputError div {
    height: 7vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 89, 33);
    border: 0.03vh solid rgb(0, 0, 0);
}
.inputError1 div img, .inputError div img {
    height: 5vh;
}

.inputError1 input, .inputError input{
    height: 7vh;
    background-color: rgba(163, 125, 52, 1);
    border: 0.03vh solid red;
    border-radius: 1px;
    color: white;
}
.inputError1 input::placeholder, .inputError input::placeholder {
    color: white;
}
.inputError1 input:focus, .inputError input:focus {
    height: 7vh;
    background-color: rgba(163, 125, 52, 1);
    border: 0.03vh solid red;
    border-radius: 1px;
    box-shadow: 0 0 1vw red;
    outline: none;
    color: white
}
@media (max-width: 768px) {
    .all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }
    .avatarCont {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vh;
        height: 10vh;
        border: 0.02vh solid rgba(163, 125, 52, 1);
        position: relative;
        z-index: 2;
        background-color: rgb(63, 63, 63);
        border-radius: 50%;
        margin-bottom: -5vh;
    }
    .avatarContSubmit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vh;
        height: 10vh;
        position: relative;
        z-index: 2;
        background-color: rgb(63, 63, 63);
        border-radius: 50%;
        margin-bottom: -5vh;
        border: 0.03vh solid rgb(96, 163, 52);
        box-shadow: 0 0 1vw rgb(96, 163, 52);
    }
    .avatarContError {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vh;
        height: 10vh;
        position: relative;
        z-index: 2;
        background-color: rgb(63, 63, 63);
        border-radius: 50%;
        margin-bottom: -5vh;
        border: 0.03vh solid red;
        box-shadow: 0 0 1vw red;
    }
    .avatar {
        height: 5vh;
        border-radius: 1vh;
        position: relative;
        z-index: 2;
        background-color: rgb(63, 63, 63);
    }
    .form {
        height: 50vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(63, 63, 63);
        position: relative;
        z-index: 1;
        border-radius: 3%;
        border: 0.03vh solid rgba(163, 125, 52, 1);
    }
    .formSubmit {
        height: 50vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(63, 63, 63);
        position: relative;
        z-index: 1;
        border-radius: 3%;
        border: 0.03vh solid rgb(96, 163, 52);
        box-shadow: 0 0 1vw rgb(96, 163, 52);
    }
    .formError {
        height: 50vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(63, 63, 63);
        position: relative;
        z-index: 1;
        border-radius: 3%;
        border: 0.03vh solid red;
        box-shadow: 0 0 1vw red;
    }
    .input1{
        margin-top: 5vh;
    }
    .input, .input1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .input div, .input1 div {
        height: 5vh;
        width: 14vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(119, 89, 33);
        border: 0.03vh solid rgb(0, 0, 0);
    }
    .input div img, .input1 div img{
        height: 3vh;
    }
    
    .input input, .input1 input {
        height: 5vh;
        background-color: rgba(163, 125, 52, 1);
        border: 0.03vh solid rgb(0, 0, 0);
        border-radius: 1px;
        color: white;
    }
    .input input::placeholder, .input1 input::placeholder {
        color: white;
    }
    .input input:focus, .input1 input:focus {
        height: 5vh;
        background-color: rgba(163, 125, 52, 1);
        border: 0.03vh solid rgb(0, 0, 0);
        border-radius: 1px;
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
        outline: none;
        color: white
    }
    .inputError1 {
        margin-top: 5vh;
    }
    .inputError1, .inputError {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-bottom: 4.5vh;
    }
    .inputError1 div, .inputError div {
        height: 5vh;
        width: 14vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(119, 89, 33);
        border: 0.03vh solid rgb(0, 0, 0);
    }
    .inputError1 div img, .inputError div img {
        height: 3vh;
    }
    .inputError1 input, .inputError input{
        height: 5vh;
        background-color: rgba(163, 125, 52, 1);
        border: 0.03vh solid red;
        border-radius: 1px;
        color: white;
    }
    .inputError1 input::placeholder, .inputError input::placeholder {
        color: white;
    }
    .inputError1 input:focus, .inputError input:focus {
        height: 5vh;
        background-color: rgba(163, 125, 52, 1);
        border: 0.03vh solid red;
        border-radius: 1px;
        box-shadow: 0 0 1vw red;
        outline: none;
        color: white
    }
    .label {
        width: 80%;
        font-size: 3vw;
        color: gray;
    }
    .checks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }
    .submit {
        height: 4vh;
        border-radius: 1vh;
        background-color: rgba(163, 125, 52, 1);
        width: 50%;
        border: 0.02vh solid black;
    }
    .submit:disabled {
        height: 4vh;
        border-radius: 1vh;
        background-color: rgb(87, 87, 87);
        border: rgb(87, 87, 87);
    }
    .submit:disabled:hover {
        height: 4vh;
        border-radius: 1vh;
        background-color: rgb(87, 87, 87);
        border: rgb(87, 87, 87);
    }
    .submit:hover {
        height: 4vh;
        border-radius: 1vh;
        background-color: rgba(163, 125, 52, 1);
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
        border: 0.02vh solid black;
    }
    .submit:active {
        height: 4vh;
        border-radius: 1vh;    
        background-color: rgb(96, 163, 52);
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
        border: 0.02vh solid black;
    }
    .checks div input:not(:checked)  {
        background-color: rgba(163, 125, 52, 1);
        border: 0.02vh solid black;
    }
    .checks div input:checked {
        background-color: rgb(96, 163, 52);
        border: 0.02vh solid black;
    }
    .checks div input:focus  {
        box-shadow: 0 0 1vw black;
    }
    .checks div label {
        color: gray;
    }
    .signUp {
        border: 0.02vh solid black;
        border-radius: 1px;
        background-color: rgb(63, 63, 63);
    }
    .signUp:hover{
        background-color: rgb(63, 63, 63);
        border-radius: 1px;
        border: 0.02vh solid black;
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    }
    .forgot {
        color: rgb(22, 22, 22);
    }
    .forgot:hover {
        color: black
    }
    .validationMessage {
        color: red;
        transform: translateY(-80%)
    }
}