.container {
  padding: 1%;
  height: 100%;
  height: 100%;
}

.card {
  font-size: 25px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.title{
  font-size: 40px;
  border-bottom: 2px solid black;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
}

.image {
  border: 1px solid rgb(245, 221, 117);
  max-width: 80%;
  height: auto;
}
.link{
  border: rgba(163, 125, 52, 1);
  background-color: rgba(163, 125, 52, 1);
}
.buttonback{
  border: rgba(163, 125, 52, 1);
  background-color:rgba(163, 125, 52, 1);
height: 10%;
  width: 100%;
}
.addButton{
  border: rgba(163, 125, 52, 1);
  background-color:rgba(163, 125, 52, 1);
}
.containLoading{
  justify-content: center;
  display:flex;
  align-items: center;
}
.beerLoading{
 
  width: 50%;
  height: 50%;
}
.notFound {
  font-size: 50px;
  color: brown;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
