.container {
    display: flex;
    align-items: center;
    border: 1px solid  rgba(163, 125, 52, 1);
    border-radius: 2%;
    
  }
  
  .formBox{
    align-items: center;
    flex: 1;
    padding: 20px;
    border:  1PX solid  rgba(163, 125, 52, 1);
    background-color:   rgba(163, 125, 52, 1);
    border-radius: 5px;
  }
  
  .imageContainer {
    border-right: 15%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .image {
    align-items: center;
    padding: 1%;
    border: 1px solid  rgba(163, 125, 52, 1);
    max-width: 60%; 
    height: auto;
  }
  .mensajes{
    color: rgb(202, 10, 10);
    font-size: px;
  }

  .imageCol {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }