.container {
  display: flex;
  align-items: center;
}

.formBoxContainer{
box-sizing: border-box;
align-items: center;
flex: 1;
padding: 20px;
height: 110%;
}

.formBox{
box-sizing: border-box;
align-items: center;
flex: 1;
padding: 20px;
border:  0.5PX solid  rgb(118, 90, 40);
height: 80%;
width: 100%;
background-color:   rgb(20, 20, 20);
border-radius: 5px;
box-shadow: 15px 15px 15px rgba(0, 0, 0);
}

.imageContainer {
border-right: 15%;
flex: 1;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}

.image {
align-items: center;
padding: 1%;
border: 1px solid  rgba(163, 125, 52, 1);
max-width: 60%; 
height: auto;
box-shadow: 15px 15px 15px rgba(0, 0, 0);
}

.mensajes{
color: rgb(202, 10, 10);
font-size: px;
}

.imageCol {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
padding: 1%;
}

.input{
background-color:   rgb(20, 20, 20);
color: white;
border:  0.5PX solid  rgb(118, 90, 40);
transition: transform 0.1s;
}

.input::placeholder{
color:rgba(153, 153, 106, 0.5);
}

.input:focus{
background-color:   rgb(20, 20, 20);
color: white;
border:  0.5PX solid  rgb(118, 90, 40);
box-shadow: 8px 8px 10px rgba(0, 0, 0);
transform: scale(1.1);
}
