.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.noSold{
    text-decoration: none;
    color: rgba(163, 125, 52, 1)
}
.noSold:hover{
    text-decoration: none;
    color: orange
}