.img {
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
}
.imgMajor {
    width: 30%;
}
.div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
}
.carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.carousel {
    justify-content: space-around;
    align-items: center;
}
.carousel div {
    margin-bottom: 20px;
}
