.container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.title_select {
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 2px;
}

.select {
    background-color: rgb(63, 54, 54);
    border: none;
    border-radius: 6px;
    color: rgb(152, 145, 145);
    width: 170px;
    font-size: 14px;
    height: 30px;
    box-shadow: 0 2px 2px rgba(181, 176, 176, 0.1)
}
.select:hover{
    transition: 0.3s;
    scale: 1.1;
}

.filters {
    background-color: #0f0f0e;
    padding: 10px;
    height: 600px;
    width: 300px;
    border-radius: 20px;
}