.all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.containerP{
    align-items: center;
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerP h2 {
    margin-left: 10px;
}
.containerP p {
    margin-left: 10px;
    margin-right: 10px;
}
.container{
    align-items: center;
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.img {
    width: 100%;
    border: solid 2px rgba(163, 125, 52, 1);
    border-top: none;
    border-right: none;
    margin-top: -10px;
}
.linkedAccounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.linkedAccounts h2 {
    margin-bottom: 30px;
}
.accountsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.accounts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(163, 125, 52, 1);
    width: 23%;
    color: white;
    text-decoration: none;
}
.nav h4 {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.perfileImg {
    height: 75px;
    border: 2px solid rgba(163, 125, 52, 1);
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.letsGo {
    margin-top: 39px;
    text-decoration: none;
    background-color: black;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(163, 125, 52, 1);
    border-right: none;
    border-left: none;
}
.link {
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.link:hover {
    background-color: rgba(178, 152, 57, 0.47);
}