.title {
    font-family: 'Arial Black', sans-serif;
    font-size: 9vh;
    font-weight: bold;
    color: white;
    display: inline-block;
    background-image: url('https://media.istockphoto.com/id/1129687007/es/foto/blanco-y-negro-grunge-textura-las-l%C3%ADneas-rasc%C3%B3-la-superficie-blanca-con-manchas-negras.jpg?s=1024x1024&w=is&k=20&c=l80ScHfmduImwxiayiPqYv-1Zp_fhVGKgjINmKI03IM=');
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline solid;
    text-decoration-color: rgba(163, 125, 52, 1);
    text-underline-offset: 1.8vh; 
}
.div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(163, 125, 52, 1);
    box-shadow: 0 0 1vw rgba(163, 125, 52, 1);
    height: 81vh;
    margin-bottom: 15%;
    margin-top: 19%;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-top: 5%;
    transform: translateY(-60%)
}
@media (max-width: 768px) {
    .title {
        font-family: 'Arial Black', sans-serif;
        font-size: 3.5vh;
        font-weight: bold;
        color: white;
        display: inline-block;
        background-image: url('https://media.istockphoto.com/id/1129687007/es/foto/blanco-y-negro-grunge-textura-las-l%C3%ADneas-rasc%C3%B3-la-superficie-blanca-con-manchas-negras.jpg?s=1024x1024&w=is&k=20&c=l80ScHfmduImwxiayiPqYv-1Zp_fhVGKgjINmKI03IM=');
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-decoration: underline solid;
        text-decoration-color: rgba(163, 125, 52, 1);
        text-underline-offset: 1.8vh; 
    }
    .div {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
    }
    .bigContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(163, 125, 52, 1);
        box-shadow: 0 0 1vw rgba(163, 125, 52, 1);
        height: 30vh;
        margin-bottom: 15%;
        margin-top: 17%;
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin-top: 5%;
        transform: translateY(-35%)
    }
}