.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    margin-top: 5vh;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
}
.pagination button {
    color: rgba(163, 125, 52, 1);
    background-color: rgb(63, 63, 63);
    border-color: rgba(163, 125, 52, 1);
    border-radius: 10%;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 15px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.pagination button:hover {
    background-color: rgb(63, 63, 63);
    border-color: rgba(163, 125, 52, 1);
    box-shadow: 0 -3px 3px 0 black,0 -3px 3px 0 black;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
}
.active {
    color: rgba(163, 125, 52, 1);
    border-color: rgba(163, 125, 52, 1);
    border-radius: 10%;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.active button {
    color: rgb(63, 63, 63);
    background-color: rgba(163, 125, 52, 1);
    border-color: rgb(63, 63, 63);
    box-shadow: 0 -3px 3px 0 black,0 -3px 3px 0 black;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
}
.active button:hover {
    color: rgb(63, 63, 63);
    background-color: rgba(163, 125, 52, 1);
    border-color: rgb(63, 63, 63);
    box-shadow: 0 -3px 3px 0 black,0 -3px 3px 0 black;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
}
