.bodyFormP {
    display: flex;
    flex-direction: row;
}

.bodyMisArt {
    max-width: 650px;
}

.spamMisArt {
    margin: 15px;   
}

.botonFormProd:hover {
    background-color: grey;
    color: black;
 
}