.bodyFormP {
    display: flex;
    flex-direction: row;
}

.bodyMisArt {
    max-width: 650px;
    border-left: inset #A37D34 2px ;

}

.spamMisArt {
    margin: 15px;   
}

.botonFormProd:hover {
    background-color: grey;
    color: black;
 
}

.mensajes {
    font-size: 10px;
    color: red;
    margin: 3px;
}