.div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(163, 125, 52, 1);
    height: 100px;
    margin-bottom: 15%;
    margin-top: 15%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 8%;
    transform: translateY(-60%)
}