.navContainer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-decoration: none;
    height: 9vh;
    border: 0.03vh solid rgba(163, 125, 52, 1);
    border-top: none;
    border-left: none;
    border-right: none;
}
.RouterConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    position: relative;
    background-color: black;
    border: none;
}
.link h2 {
    width: 100%;
    text-align: center; 
}
.link:hover {
    background-color: rgba(178, 152, 57, 0.47);
}
.link:hover:before {
    content: "";
    position: absolute;
    left: -1.5vw;
    top: 0;
    bottom: 0;
    width: 1.5vw;
    background-color: rgba(178, 152, 57, 0.47);
}

.link:hover:after {
    content: "";
    position: absolute;
    right: -1.5vw;
    top: 0;
    bottom: 0;
    width: 1.5vw;
    background-color: rgba(178, 152, 57, 0.47);
}