.navContainer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, black, #242424);
    color: white;
    text-decoration: none;
    height: 9vh;
    border: 0.03vh solid rgba(163, 125, 52, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.RouterConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    position: relative;
    border: none;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
}
.link h2 {
    text-align: center; 
}
.link:hover {
    background-color: rgba(178, 152, 57, 0.47);
}
.link:hover:before {
    content: "";
    position: absolute;
    left: -1.5vw;
    top: 0;
    bottom: 0;
    width: 1.5vw;
    background-color: rgba(178, 152, 57, 0.47);
}

.link:hover:after {
    content: "";
    position: absolute;
    right: -1.5vw;
    top: 0;
    bottom: 0;
    width: 1.5vw;
    background-color: rgba(178, 152, 57, 0.47);
}
.dropdownContent, .dropdownContent2, .dropdownContent3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    position: relative;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    position: relative;
    z-index: 50;
}
.dropdownContent, .dropdownContent3{
    width: 8vw;
    height: 30vh;
    margin-top: 9vh;
}
.dropdownContent2 {
    width: 8vw;
    height: 40vh;
    margin-top: 14vh;
}
.link2, .link3, .link4, .link2main, .link2mainAd {
    width: 8vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    color: white;
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    position: relative;
    border: none;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
}
.link2 h2, .link3 h2, .link4 h2, .link2main h2 {
    text-align: center; 
}
.link2:hover, .link3:hover, .link4:hover, .link2main:hover {
    background-color: rgba(178, 152, 57, 0.47);
}
.link2:hover:before, .link3:hover:before, .link4:hover:before, .link2main:hover:before {
    content: "";
    position: absolute;
    left: -1.5vw;
    top: 0;
    bottom: 0;
    width: 1.5vw;
    background-color: rgba(178, 152, 57, 0.47);
}
.link2:hover:after, .link3:hover:after, .link4:hover:after, .link2main:hover:after {
    content: "";
    position: absolute;
    right: -1.5vw;
    top: 0;
    bottom: 0;
    width: 1.5vw;
    background-color: rgba(178, 152, 57, 0.47);
}
.link2 {
    background: black;
}
.link3 {
    margin-top: -1.5vh;
    background-color: black;
}
.link4 {
    border: 0.03vh solid rgba(163, 125, 52, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: black;
}
.link2:after, .link3:after, .link4:after {
    content: "";
    position: absolute;
    right: -1.5vw;
    top: 0;
    bottom: 0;
    width: 1.5vw;
}
.link2:before, .link3:before, .link4:before {
    content: "";
    position: absolute;
    left: -1.5vw;
    top: 0;
    bottom: 0;
    width: 1.5vw;
}
.link2:before, .link2:after {
    background-color: black;
}
.link2:before {
    border: 0.03vh solid rgba(163, 125, 52, 1);
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.link3:before {
    background-color: black;
    border: 0.03vh solid rgba(163, 125, 52, 1);
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.link3:after {
    background-color: black;
}
.link4:before {
    background-color: black;
    border: 0.03vh solid rgba(163, 125, 52, 1);
    border-top: none;
    border-right: none;
}
.link4:after {
    background-color: black;
    border: 0.03vh solid rgba(163, 125, 52, 1);
    border-left: none;
    border-top: none;
    border-right: none;
}
@media (max-width: 768px) {
    .navContainer {
        display: flex;
        justify-content: center;
        background: linear-gradient(to top, black, #242424);
        color: white;
        text-decoration: none;
        height: 6vh;
        border: 0.03vh solid rgba(163, 125, 52, 1);
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .RouterConteiner{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .link {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        text-decoration: none;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        position: relative;
        border: none;
    }
    .link h5 {
        text-align: center;
        font-family: 'Arial Black', sans-serif;
        font-size: 1.7vh;
        font-weight: bold;
    }
    .link:hover {
        background-color: rgba(178, 152, 57, 0.47);
    }
    .link:hover:before {
        content: "";
        position: absolute;
        left: -1.5vw;
        top: 0;
        bottom: 0;
        width: 1.5vw;
        background-color: rgba(178, 152, 57, 0.47);
    }
    .link:hover:after {
        content: "";
        position: absolute;
        right: -1.5vw;
        top: 0;
        bottom: 0;
        width: 1.5vw;
        background-color: rgba(178, 152, 57, 0.47);
    }
    .dropdownContent, .dropdownContent2, .dropdownContent3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        position: relative;
        text-align: center;
        font-family: 'Arial Black', sans-serif;
        position: relative;
        z-index: 50;
    }
    .dropdownContent {
        width: 25vw;
        height: 20vh;
        margin-top: 19.5vh;
        margin-left: -13vw;
    }
    .dropdownContent2 {
        width: 25vw;
        height: 20vh;
        margin-top: 19.5vh;
        margin-left: -11vw;
    }
    .dropdownContent3 {
        width: 25vw;
        height: 20vh;
        margin-top: 19.5vh
    }
    .link2, .link3, .link4 {
        width: 30vw;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        color: white;
        text-decoration: none;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        position: relative;
        border: none;
        text-align: center;
        font-family: 'Arial Black', sans-serif;
    }
    .link2main { 
        width: 20vw;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        color: white;
        text-decoration: none;
        margin-left: -5.5vw;
        margin-right: 1.5vw;
        position: relative;
        border: none;
        text-align: center;
        font-family: 'Arial Black', sans-serif;
    }
    .link2mainAd { 
        width: 20vw;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        color: white;
        text-decoration: none;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        position: relative;
        border: none;
        text-align: center;
        font-family: 'Arial Black', sans-serif;
    }
    .link2 h2, .link3 h2, .link4 h2, .link2main h2 {
        text-align: center; 
    }
    .link2:hover, .link3:hover, .link4:hover, .link2main:hover {
        background-color: rgba(178, 152, 57, 0.47);
    }
    .link2:hover:before, .link3:hover:before, .link4:hover:before, .link2main:hover:before {
        content: "";
        position: absolute;
        left: -1.5vw;
        top: 0;
        bottom: 0;
        width: 1.5vw;
        background-color: rgba(178, 152, 57, 0.47);
    }
    .link2:hover:after, .link3:hover:after, .link4:hover:after, .link2main:hover:after {
        content: "";
        position: absolute;
        right: -1.5vw;
        top: 0;
        bottom: 0;
        width: 1.5vw;
        background-color: rgba(178, 152, 57, 0.47);
    }
    .link2 {
        background: black;
    }
    .link3 {
        margin-top: -1.5vh;
        background-color: black;
    }
    .link4 {
        border: 0.03vh solid rgba(163, 125, 52, 1);
        border-top: none;
        border-left: none;
        border-right: none;
        background: black;
    }
    .link2:after, .link3:after, .link4:after {
        content: "";
        position: absolute;
        right: -1.5vw;
        top: 0;
        bottom: 0;
        width: 1.5vw;
    }
    .link2:before, .link3:before, .link4:before {
        content: "";
        position: absolute;
        left: -1.5vw;
        top: 0;
        bottom: 0;
        width: 1.5vw;
    }
    .link2:before, .link2:after {
        background-color: black;
    }
    .link2:before {
        border: 0.03vh solid rgba(163, 125, 52, 1);
        border-top: none;
        border-right: none;
        border-bottom: none;
    }
    .link3:before {
        background-color: black;
        border: 0.03vh solid rgba(163, 125, 52, 1);
        border-top: none;
        border-right: none;
        border-bottom: none;
    }
    .link3:after {
        background-color: black;
    }
    .link4:before {
        background-color: black;
        border: 0.03vh solid rgba(163, 125, 52, 1);
        border-top: none;
        border-right: none;
    }
    .link4:after {
        background-color: black;
        border: 0.03vh solid rgba(163, 125, 52, 1);
        border-left: none;
        border-top: none;
        border-right: none;
    }
}